<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.giovanny.study.mapper.SysMenuMapper">
  <resultMap id="BaseResultMap" type="com.giovanny.study.entity.po.SysMenu">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="menu_id" jdbcType="BIGINT" property="menuId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="permission" jdbcType="VARCHAR" property="permission" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.giovanny.study.entity.po.SysMenu">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="menu_id" jdbcType="BIGINT" property="menuId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="permission" jdbcType="VARCHAR" property="permission" />
  </resultMap>
</mapper>